/* This example demostrate display property with creating a Navbar */
* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: rgb(240, 233, 197);
}
ul {
  list-style-type: none;
  text-align: right;
  padding: 20px;
}
li {
  display: inline;
  padding: 4px;
}
a {
  text-decoration: none;
  color: rgb(4, 67, 88);
}
a:hover {
  color: rgb(147, 165, 42);
}